.framework
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: #FFFFFF

.control-panel
    position: absolute

.page-content
    position: fixed
    overflow: scroll
    border: 1px solid rgba(0, 0, 0, .3)
    border-left: none
.editing
    overflow-x: scroll

.management
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
